

:root {
    --headerGradient: linear-gradient(60deg, #000000, #5E5E65, #5E5E65, #000000);
    --gradient: linear-gradient(60deg, #000000, #5E5E65, #000000);
    --myDarkGray: #1C1C1C;
    --myGray: #B4B4B4;
    --myGoldenrod: #DAA520;
    --myGold: #A57C00;
    --myWhite: #FFFFFF;
    --myGreen: #38A169;
    --myRed: #C74031;

    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
      'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
      'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}


* {
  margin: 0;
}


a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
