
.brandName {
    background-image: var(--headerGradient);
    width: 80vw;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 100px 0px 100px 0px;
    box-shadow :inset 0px 0px 15px 5px var(--myDarkGray), inset 0px 0px 15px 5px var(--myDarkGray);
    font-size: 200%;
    color: var(--myGreen);
    font-family: var(--font-mono);
}

.blogContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--myGray);
    width: 80vw;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
    color: var(--myDarkGray);
}

.blogContentContainer {
    text-align: center;
}

.blogTitle {
    font-size: 200%;
    margin: 5px;
}

.blogContent {
    font-size: 120%;
    margin: 1rem;
    animation: show 500ms;
}

.blogBackBtn, .blogNextBtn {
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 140%;
}

.blogContentDisappear {
    font-size: 120%;
    margin: 1rem;
    transform: translateX(-110%);
    transition: transform 500ms;
}

@keyframes show {
    0% {
        transform: translateX(110%);
    }
    100% {
        transform: translateX(0%);
    }
}